.header {
  height: 28rem;
  @extend %blueGradient;
  box-shadow: 0 0 0 0;
}

.market__section {
  @extend %section;
  @extend %container--custom;
}

.titles--market {
  background-color: $white;

  position: absolute;
  top: 0;
  right: 0;
  transform: translate(25%, -100%);
}

.markets {
  @extend %flexbox;
  @extend %section;
}
.market {
  max-width: 40rem;
  height: 35rem;
  padding: 0 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-right: 0.1rem dotted $black;

  &:last-child {
    border: none;
  }
}

.paragraph--market {
  font-size: 1.7rem;
  height: 100%;
}

.market__img {
  height: 6.9rem;
  padding-bottom: 1rem;
}

.title--market {
  font-size: 2.5rem;
}

.link--market {
  font-size: 2.5rem;
  text-decoration: none;
  @extend %flexbox;
  justify-content: flex-start;
  gap: 1rem;

  &:hover {
    .link--icon {
      transition: all 1s;
      transform: translateX(1rem);
    }
  }
}

.link--icon {
  padding-right: 1rem;
}
