@media screen and (max-width: 1650px) {
  html {
    font-size: 56.25%;
  }

  .service::after {
    width: 10rem;
  }

  .service {
    gap: 1.5rem;
  }

  .value-box {
    height: 46rem;
  }

  .value__subtitle {
    font-size: 4.5rem;
  }

  .value__paragraph {
    font-size: 1.5rem;
  }

  .value {
    padding: 7% 5%;
  }
}

@media screen and (max-width: 1450px) {
  .newsletter__paragraph {
    width: 100%;
  }
}

@media screen and (max-width: 1350px) {
  %titlesFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  %titleFix {
    .title {
      text-align: center;
    }

    .title--section-title::after {
      width: 100%;
    }
  }

  .titles {
    @extend %titlesFlex;
    @extend %titleFix;

    position: static;
    transform: none;
    margin: 0 auto;
    padding: 5% 0;
  }

  .markets {
    flex-wrap: wrap;
    gap: 2rem;
    row-gap: 6rem;
  }

  .market {
    height: 32rem;
    &:nth-of-type(2) {
      border: none;
    }
  }

  .services__title-box {
    @extend %titlesFlex;
    @extend %titleFix;
  }

  .services__inner {
    flex-wrap: wrap;
    justify-content: center;
    gap: 9rem;
  }

  .service::after {
    transform: translateX(30%);
  }

  .service--no-line::after {
    content: none;
    width: 100%;
  }

  .key-indexes {
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
  }

  .key-index__number {
    font-size: 9.5rem;
  }
  .key-index__text {
    font-size: 5.2rem;
  }

  .value-box {
    height: 42rem;
  }

  .value {
    min-width: 45rem;
    padding: 5%;
  }

  .value__subtitle {
    font-size: 3.6rem;
  }

  .value__paragraph {
    width: 45ch;
  }
}

@media screen and (max-width: 1200px) {
  .value-box {
    height: 38rem;
  }

  .newsletter {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: 5% 0;
  }

  .newsletter__inner {
    width: 100%;
    padding: 0 10%;
  }

  .newsletter__title,
  .newsletter__paragraph {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 1100px) {
  html {
    font-size: 50%;
  }

  .value-box {
    height: 34rem;
  }

  .value {
    min-width: 35rem;
  }

  .value__title {
    font-size: 1.6rem;
  }

  .value__subtitle {
    font-size: 3.2rem;
  }

  .value__paragraph {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 1100px) {
  .news-box {
    flex-direction: column;
    gap: 2rem;
  }

  .news {
    width: 100%;
  }

  .news__title,
  .news__subtitle,
  .news__paragraph {
    text-align: center;
    width: 100%;
  }

  .news__title {
    text-decoration: underline;

    &::after {
      content: none;
    }
  }

  .titles--indexes {
    width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .title--main {
    width: 100%;
    font-size: 4.2rem;
  }

  .markets {
    flex-direction: column;
  }

  .market {
    width: 100%;
    height: 28rem;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
  }

  .paragraph--market {
    text-align: center;
  }

  .link--market {
    padding-top: 1.5rem;
  }

  .services__section {
    height: 100%;
    background: none;
  }

  .services__inner {
    flex-direction: column;
  }

  .services__btn {
    font-size: 2rem;
  }

  .service {
    flex-direction: column;
    &::after {
      content: none;
    }
  }

  .service__number {
    font-size: 2rem;
    align-self: center;
  }

  .service__paragraph {
    font-size: 2.8rem;
    text-indent: 0;
    text-align: center;
    width: 80%;
  }
  .service__paragraph--secund-line {
    padding: 0;
    display: inline;
  }

  .services__btn-box {
    display: flex;
    justify-content: center;
  }

  .key-indexes {
    flex-direction: column;
  }

  .key-index {
    align-items: center;
  }

  .key-index__text {
    text-align: center;
  }

  .values {
    width: 100%;
    padding: 0;
  }

  .value {
    padding: 3% 5%;
  }

  .value__paragraph {
    width: 100%;
  }
}

@media screen and (max-width: 750px) {
  .services__box {
    padding: 15% 0;
  }

  .section {
    padding: 10% 0;
  }

  .core-values__section {
    padding-bottom: 20%;
  }

  .titles--core-values {
    margin: 0;
    width: 100%;
    padding-bottom: 15%;
  }

  .value-box {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .value {
    // // padding: 3% 8%;
    // left: 15%;
    // transform: translateY(33%);
    width: 75%;
    position: static;
    transform: translate(0%, 33%);
  }

  .value-box:nth-child(even) {
    .value {
      transform: translateY(33%);
    }
  }
}

@media screen and (max-width: 600px) {
  .newsletter {
    gap: 3rem;
  }

  .newsletter__input {
    padding: 0;
    text-align: center;
  }

  .newsletter__btn {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .markets {
    padding: 10% 0;
  }
  .key-indexes__button {
    padding: 1rem 3rem;
    font-size: 1.6rem;
  }

  .value-box {
    height: 30rem;
  }

  .value__subtitle {
    font-size: 2.8rem;
  }
}

@media screen and (max-width: 400px) {
  .title--main {
    font-size: 3.4rem;
  }
  .services__inner {
    padding: 10% 0;
  }

  .services__btn {
    padding: 1rem 3rem;
  }

  .key-index {
    height: 25rem;
  }

  .key-index__number {
    font-size: 7.5rem;
  }

  .key-index__text {
    font-size: 3.2rem;
  }

  .value-box {
    height: 26rem;
  }

  .value {
    height: 24rem;
    left: 1.5%;
    max-height: 18rem;
  }
}

@media screen and (max-width: 300px) {
  .market {
    padding: 15% 0;
  }

  .key-indexes__button {
    padding: 1rem 1rem;
    font-size: 1.4rem;
  }
}
